
body *{
    
        font-family: "Outfit", serif;
        font-weight: 400;
        /* font-style: italic; */
     
}
.hide{
    overflow: hidden;
    
}
.none{
    /* list-style-type: none;
     */
     text-decoration: none;
     color: black;
}
.none:hover{
    color: black;
}
/* .icon-show{
    display: none;

}

.icon-hover:hover .icon-show{
        display: flex;
        transition: 1s;
} */


smart-gantt-chart {
    height: auto;
}

    smart-gantt-chart .product-team {
        --smart-gantt-chart-task-color: rgb(94, 99, 181);
        --smart-gantt-chart-task-label-color: white;
        --smart-gantt-chart-task-label-color-selected: white;
    }

smart-gantt-chart .marketing-team {
    --smart-gantt-chart-task-color: rgb(43, 195, 190);
}

    smart-gantt-chart .dev-team {
        --smart-gantt-chart-task-color: rgb(242, 115, 112);
        --smart-gantt-chart-task-label-color: white;
        --smart-gantt-chart-task-label-color-selected: white;
    }

smart-gantt-chart .design-team {
    --smart-gantt-chart-task-color: rgb(255, 197, 53);
}

smart-gantt-chart .qa-team {
    --smart-gantt-chart-task-color: rgb(99, 181, 144);
}

    smart-gantt-chart .release-team {
        --smart-gantt-chart-task-color: rgb(188, 150, 223);
        --smart-gantt-chart-task-label-color: white;
    }
    


    /* ations {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
    } */
    
    .notification-item {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }

    .close
    {
        cursor: pointer;
        width: 10% !important;
        /* text-align: end !important; */
    }

    .google-btn{
        background-color: rgb(216, 215, 215) !important;
        color: black;
        border: none;
        border: 1px solid;

    }

    .fa-calendar-days{
        color: black;
    }